$colorLight: #fafcfd;
$colorDark: #252529;
$colorSemiLight: #b8d3e5;
$colorDarkGreen: #34ab45;
$colorLightBrown: #9c8870;
$colorDarkBlue: #1765d8;
$colorLightBlue: #346298;
$colorLightGrey: #a8aaad;

$colorWhite: #fff;

$colorDanger: #d32f2f;
$colorWarning: #f6ab2e;
$colorGood: #34aa44;

$layoutWidth: 1440px;
$layoutHeight: 1160px;
$layoutBorderRadius: 5px;

$sidebarWidth: 270px;
$sidebarHeight: 100%;

$standardPadding: 30px;

$sizeXSmall: 0.5em;
$sizeSmall: 0.625em;
$sizeMedium: 0.75em;
$sizeLarge: 1em;
$sizeXLarge: 1.5em;
$sizeXXLarge: 3em;
