.clock {
  color: #d14545;
}

.delete-element {
  a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(236, 14, 14);
    margin: 6px;
  }
}

.edit-element {
  a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(15, 235, 62);
    margin: 6px;
  }
}

.upload-element {
  a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(12, 156, 125);
    margin: 6px;
  }
}

.fa-right-from-bracket {
  color: #ff1616;
  font-size: 20px;
}

.sans-serif {
  font-family: sans-serif;
}
